th, td {
    border: 1px solid white;
    padding: 8px;
    color: white;
}

.input {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    color: black;
}

.btn {
    background: #3b82f6;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
}
